In [1]:
%%capture
!pip install titiler

In [2]:
import s3fs
import test_helpers

import xarray as xr
import os
from titiler.xarray.io import Reader
import pandas as pd
import random

In [3]:
s3fsfs = s3fs.S3FileSystem()

In [4]:
test_files = [f"s3://{f}" for f in test_helpers.list_test_files(s3fsfs)]

# Test Zoom Level 0 Tile

In [5]:
open_and_load_times = []
zoom = 0
random_idx = random.randint(1,24)

In [6]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
Function timed out after 60 seconds
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat1000_lon1800_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat100_lon180_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat500_lon900_Tair.nc
Function timed out after 60 seconds
starting test for time24_lat50_lon90_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc
Function timed out after 60 seconds

In [8]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.623451,8.676252,9.299703
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,2.652727,9.745298,12.398025
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.708205,24.630252,25.338457
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.598555,34.790815,35.389370
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.597579,60.012766,60.610345
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.603816,60.009386,60.613202
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.604481,60.010668,60.615149
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.621852,60.007701,60.629553
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.648894,60.010060,60.658954
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.836359,60.011533,60.847892
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.938227,60.021457,60.959684
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.678248,60.533809,61.212057

# Test Zoom Level 4 Tile

In [9]:
open_and_load_times = []
zoom = 4
random_idx = random.randint(1,24)

In [10]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
Function timed out after 60 seconds
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [11]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.608351,1.490608,2.098959
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.612907,1.623765,2.236672
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.598715,1.944882,2.543597
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.778465,1.937301,2.715766
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.601284,3.258820,3.860104
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.617300,4.393503,5.010803
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.604347,5.307627,5.911974
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.600426,12.683124,13.283550
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.605159,20.019436,20.624595
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.635525,51.608679,52.244204
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.603131,60.001031,60.604162
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.782549,60.001122,60.783671

# Test Zoom Level 8 Tile

In [12]:
open_and_load_times = []
zoom = 8
random_idx = random.randint(1,24)

In [13]:
for test_file in test_files:
    test_info, _ = test_helpers.load_tile(test_file, zoom, random_idx)
    open_and_load_times.append(test_info)

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [14]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (MB),open (seconds),tile,total_time
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.595724,0.678806,1.274530
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.598587,0.710169,1.308756
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.596582,0.791999,1.388581
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.736061,0.849536,1.585597
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.596197,1.210277,1.806474
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.626285,1.238701,1.864986
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.597151,1.278766,1.875917
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.596423,1.411676,2.008099
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.597867,1.840720,2.438587
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.598245,1.939858,2.538103
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.596521,2.091436,2.687957
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.726633,2.734368,3.461001