In [1]:
%%capture
!pip install titiler

In [2]:
import pandas as pd
import s3fs
from IPython.display import display, HTML

import test_helpers

In [3]:
s3fsfs = s3fs.S3FileSystem(
    key=os.environ['AWS_ACCESS_KEY_ID'],
    secret=os.environ['AWS_SECRET_ACCESS_KEY'],
    default_fill_cache=False
)
test_files = test_helpers.list_test_files(s3fsfs)

# 0.01 degree x 0.01 degree timeseries

In [4]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 0.01
precision = 2
s3_times = {}
open_and_load_times = []

In [5]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [6]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (mb),open (seconds),load,total_time
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.919412,1.417852,2.337264
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.917078,1.723318,2.640396
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.920158,1.788642,2.708800
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.914471,1.961001,2.875472
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,1.094953,5.683578,6.778531
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,1.007981,7.251116,8.259097
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.918885,7.919614,8.838499
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,1.480754,12.349339,13.830093
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,3.523197,26.190248,29.713445
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.910250,29.408534,30.318784
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.945647,35.654281,36.599928
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.925276,42.598893,43.524169

# 1 degree x 1 degree timeseries

In [7]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 1
precision = 0
s3_times = {}
open_and_load_times = []

In [8]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [9]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (mb),open (seconds),load,total_time
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.927974,1.920015,2.847989
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.920520,2.415324,3.335844
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.917348,2.668742,3.586090
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.919723,4.471513,5.391236
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.917341,5.783895,6.701236
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.976583,7.236058,8.212641
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.930091,8.174204,9.104295
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,1.154874,9.929782,11.084656
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.920096,27.006641,27.926737
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.929334,29.456388,30.385722
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.933738,35.199262,36.133000
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.920411,38.874792,39.795203

# 5 degree x 5 degree timeseries

In [10]:
# these 2 need to match, precision equaling the spatial size's decimal points
spatial_size = 5
precision = 0
s3_times = {}
open_and_load_times = []

In [11]:
lat_range, lon_range = test_helpers.select_random_spatial_range(spatial_size, precision)
for test_file in test_files:
    test_info, s3_request_info = test_helpers.load_series(test_file, s3fsfs, lat_range, lon_range)
    open_and_load_times.append(test_info)
    s3_times[test_file.split('/')[-1]] = s3_request_info

starting test for time1_lat2500_lon4500_Tair.nc
starting test for time1_lat250_lon450_Tair.nc
starting test for time1_lat5000_lon9000_Tair.nc
starting test for time1_lat500_lon900_Tair.nc
starting test for time24_lat1000_lon1800_Tair.nc
starting test for time24_lat100_lon180_Tair.nc
starting test for time24_lat500_lon900_Tair.nc
starting test for time24_lat50_lon90_Tair.nc
starting test for time6_lat1000_lon1800_Tair.nc
starting test for time6_lat100_lon180_Tair.nc
starting test for time6_lat2000_lon3600_Tair.nc
starting test for time6_lat200_lon360_Tair.nc

In [12]:
pd.DataFrame(open_and_load_times).sort_values(by='total_time')

,filename,chunk_shape,chunk_size (mb),open (seconds),load,total_time
6,time24_lat500_lon900_Tair.nc,"{'time': 24, 'lat': 500, 'lon': 900}",41.198730,0.899444,4.317667,5.217111
4,time24_lat1000_lon1800_Tair.nc,"{'time': 24, 'lat': 1000, 'lon': 1800}",164.794922,0.899693,5.086960,5.986653
7,time24_lat50_lon90_Tair.nc,"{'time': 24, 'lat': 50, 'lon': 90}",0.411987,0.892791,6.081465,6.974256
5,time24_lat100_lon180_Tair.nc,"{'time': 24, 'lat': 100, 'lon': 180}",1.647949,0.886810,7.398680,8.285490
11,time6_lat200_lon360_Tair.nc,"{'time': 6, 'lat': 200, 'lon': 360}",1.647949,0.937594,8.685597,9.623191
9,time6_lat100_lon180_Tair.nc,"{'time': 6, 'lat': 100, 'lon': 180}",0.411987,0.921324,8.827347,9.748671
8,time6_lat1000_lon1800_Tair.nc,"{'time': 6, 'lat': 1000, 'lon': 1800}",41.198730,0.893652,10.351520,11.245172
10,time6_lat2000_lon3600_Tair.nc,"{'time': 6, 'lat': 2000, 'lon': 3600}",164.794922,0.919402,13.154152,14.073554
1,time1_lat250_lon450_Tair.nc,"{'time': 1, 'lat': 250, 'lon': 450}",0.429153,0.915507,28.290743,29.206250
0,time1_lat2500_lon4500_Tair.nc,"{'time': 1, 'lat': 2500, 'lon': 4500}",42.915344,0.914298,29.519520,30.433818
3,time1_lat500_lon900_Tair.nc,"{'time': 1, 'lat': 500, 'lon': 900}",1.716614,0.893493,31.204911,32.098404
2,time1_lat5000_lon9000_Tair.nc,"{'time': 1, 'lat': 5000, 'lon': 9000}",171.661377,0.890224,55.667798,56.558022